<div class="header-inner">
    <div class="left-wrap">
        <div class="menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div>
            <a href="/audiophile-ecommerce-website/"><img src="./assets/images/shared/desktop/logo.svg" alt=""></a>
        </div>
    </div>
    <nav class="menu-pc">
      <ul>
        <li><a href="/audiophile-ecommerce-website/">HOME</a></li>
        <li><a href="./category.html?category=headphones">HEADPHONES</a></li>
        <li><a href="./category.html?category=speakers">SPEAKERS</a></li>
        <li><a href="./category.html?category=earphones">EARPHONES</a></li>
      </ul>
    </nav>
    <div class="cart-btn">
        <img src="./assets/images/shared/desktop/cart.svg" alt="">
    </div>
</div>

<nav class="menu-sp">
  <ul>
    <li>
        <img src="./assets/images/shared/desktop/image-category-thumbnail-headphones.png" alt="" />
        <p>HEADPHONES</p>
        <a href="./category.html?category=headphones">
        <span>SHOP</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 15" fill="none"><path d="M0.707031 0.707031L5.70703 5.70703L0.707031 10.707" stroke="#D87D4A"></svg>
        </a>
    </li>
    <li>
        <img src="./assets/images/shared/desktop/image-category-thumbnail-speakers.png" alt="" />
        <p>SPEAKERS</p>
        <a href="./category.html?category=speakers">
        <span>SHOP</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 15" fill="none"><path d="M0.707031 0.707031L5.70703 5.70703L0.707031 10.707" stroke="#D87D4A"></svg>
        </a>
    </li>
    <li>
        <img src="./assets/images/shared/desktop/image-category-thumbnail-earphones.png" alt="" />
        <p>EARPHONES</p>
        <a href="./category.html?category=earphones">
        <span>SHOP</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 15" fill="none"><path d="M0.707031 0.707031L5.70703 5.70703L0.707031 10.707" stroke="#D87D4A"></svg>
        </a>
    </li>
  </ul>
</nav>

<div class="cart-modal">
  <div class="cart-top">
    <p>Cart (<span class="cart-count"></span>)</p>
    <button class="clear-btn">Remove all</button>
  </div>

  <div class="cart-items"></div>

  <div class="amount">
    <p>TOTAL</p>
    <p class="right">$<span class="total"></span></p>
  </div>

  <button class="checkout-btn cv-btn">CHECKOUT</button>
</div>

<div class="modal-overlay"></div>