<div class="header-inner">
    <div class="left-wrap">
        <div class="menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div>
            <img src="./assets/images/shared/desktop/logo.svg" alt="">
        </div>
    </div>
    <div class="cart-btn">
        <img src="./assets/images/shared/desktop/cart.svg" alt="">
    </div>
</div>


<div class="cart-modal">
  <div class="cart-top">
    <p>Cart (<span class="cart-count"></span>)</p>
    <button class="clear-btn">Remove all</button>
  </div>

  <div class="cart-items"></div>

  <div class="amount">
    <p>TOTAL</p>
    <p class="right">$<span class="total"></span></p>
  </div>

  <button class="checkout-btn cv-btn">CHECKOUT</button>
</div>