footer {
    background-color: var(--off-black);
    color: #fff;
    position: relative;
    text-align: center;
    padding: 13.87vw 0 10.13vw;

    &::before {
        content: "";
        display: inline-block;
        width: 26.93vw;
        height: 1.07vw;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--orange1);
    }

    .logo {
        width: 38.13vw;
        margin-bottom: 12.8vw;
    }

    .footer-nav {
        margin-bottom: 12.8vw;

        ul {
            display: flex;
            flex-direction: column;
            gap: 4.27vw;

            li {
                font-size: var(--fs-13px);
                font-weight: 600;
                line-height: 1.92;
                letter-spacing: 0.15em;
            }
        }
    }

    .footer-des {
        line-height: 1.67;
        color: rgba(255,255,255,0.5);
        padding: 0 8vw;
        margin-bottom: 12.8vw;
    }

    .copyright {
        line-height: 1.67;
        color: rgba(255,255,255,0.5);
        margin-bottom: 12.8vw;
    }

    .sns-wrap {
        ul {
            display: flex;
            flex-wrap: nowrap;
            gap: 4.27vw;
            justify-content: center;
            align-items: center;

            li a {
                display: inline-block;
                width: 6.4vw;
                height: 6.4vw;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            li:nth-child(2) a{
                height: 5.2vw;
            }
        }
    }
}

@media screen and (min-width:768px) {
    footer {
        text-align: left;
        padding: 7.81vw 5.21vw 5.99vw;

        &::before {
            width: 13.15vw;
            height: 0.52vw;
            left: 5.21vw;
            transform: translateX(0);
        }

        .logo {
            width: 18.62vw;
            margin-bottom: 4.17vw;
        }

        .footer-nav {
            margin-bottom: 4.17vw;

            ul {
                flex-direction: initial;
                gap: 4.43vw;
                width: 55.99vw;
            }
        }

        .footer-des {
            padding: 0 2vw 0 0;
            margin-bottom: 10.42vw;
        }

        .footer-bottom {
            display: flex;
            justify-content: space-between;

            .copyright {
                margin-bottom: 0;
            }

            .sns-wrap {
                ul {
                    gap: 2.08vw;

                    li a {
                        width: 3.13vw;
                        height: 3.13vw;
                    }

                    li:nth-child(2) a{
                        height: 2.54vw;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1440px) {
    footer {
        padding: 75px 165px 48px;

        .footer-inner {
            width: 77.08vw;
            margin: 0 auto;
        }

        &::before {
            width: 101px;
            height: 4px;
            left: 11.46vw;
        }

        .footer-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 36px;

            .logo {
                width: 143px;
                margin-bottom: 0;
            }

            .footer-nav {
                margin-bottom: 0;

                ul {
                    gap: 34px;
                    width: auto;
                }
            }
        }

        .footer-des {
            width: 540px;
            padding: 0;
            margin-bottom: 56px;
        }

        .footer-bottom {
            display: block;

            .sns-wrap {
                position: absolute;
                right: 11.46vw;
                bottom: 136px;

                ul {
                    gap: 16px;

                    li a {
                        width: 24px;
                        height: 24px;
                    }

                    li:nth-child(2) a{
                        height: 19.5px;
                    }
                }
            }
        }
    }
}