header {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    background-color: #1c1c1c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0 6.4vw;

        .left-wrap {
            display: contents;

            .menu-btn {
                width: 16px;
                height: 15px;
                display: flex;
                flex-wrap: wrap;
                gap: 3px;

                span {
                    display: inline-block;
                    width: 100%;
                    height: 3px;
                    background-color: #fff;
                }
            }
        }

        .menu-pc {
            display: none;
        }
    }

    .menu-sp {
        background-color: #fff;
        width: 100%;
        padding: 22.4vw 6.4vw 9.33vw;
        display: none;
        position: absolute;
        top: 90px;
        z-index: 200;
        max-height: calc(100vh - 90px);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        &.active {
            display: block;
            transform: translateY(0);
        }

        ul {
            display: grid;
            gap: 18.13vw;

            li {
                background-color: var(--grey1);
                border-radius: 2.13vw;
                text-align: center;
                position: relative;
                padding: 23.47vw 0 5.87vw;

                img {
                    width: auto;
                    height: 34vw;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%,-36%);
                }

                p {
                    font-weight: 700;
                    letter-spacing: 0.07em;
                    margin-bottom: 4.53vw;
                }

                a {
                    font-size: var(--fs-13px);
                    letter-spacing: 0.08em;
                    color: rgba(00,00,00,0.5);
                    font-weight: 700;

                    svg {
                        margin-left: 3vw;
                        stroke-width: 2;
                    }
                }
            }
        }
    }

    .cart-modal {
        display: none;
        width: 87.2vw;
        position: absolute;
        top: 114px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        border-radius: 2.13vw;
        padding: 8.27vw 7.47vw;
        z-index: 200;

        &.active {
            display: block;
        }

        .cart-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 7.47vw;

            p {
                font-size: var(--fs-18px);
                font-weight: 600;
                line-height: 1.5;
            }

            .clear-btn {
                color: rgba(00,00,00,0.5);
                font-size: var(--fs-15px);
                text-decoration: underline;
                line-height: 1.67;
            }
        }

        .cart-items {
            margin-bottom: 8.53vw;

            .cart-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2.67vw;
                margin-bottom: 6.4vw;

                .cart-item-left {
                    display: flex;
                    align-items: center;

                    img {
                        border-radius: 2.13vw;
                        width: 17.07vw;
                        margin-right: 4.27vw;
                    }

                    .name {
                        font-weight: 600;
                        line-height: 1;
                    }

                    .price {
                        font-size: var(--fs-14px);
                        line-height: 1.78;
                        color: rgba(00,00,00,0.5);
                        font-weight: 600;
                    }
                }

                .qty {
                    width: 25.6vw;
                    height: 8.53vw;
                    background-color: var(--grey1);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    .qty-btn {
                        width: 10.13vw;
                        font-size: var(--fs-13px);
                        color: rgba(00,00,00,0.25);
                    }
                }
            }
        }

        .amount {
            margin-bottom: 6.4vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: rgba(00,00,00,0.5);
            line-height: 1.1;

            .right {
                color: #000;
                font-size: var(--fs-18px);
                font-weight: 600;
                line-height: 1.5;

                span {
                    margin-left: 1.3vw;
                }
            }
        }

        .checkout-btn {
            width: 100%;
            text-align: center;
        }
    }

    .modal-overlay {
        display: none;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(00,00,00,0.4);
        top: 90px;
        left: 0;
        z-index: 100;
    }

    .modal-overlay.active {
        display: block;
    }
}

@media screen and (min-width:768px) {
    header {
        border-bottom: none;
        background-color: #191919;

        .header-inner {
            padding: 0;
            margin: 0 5.21vw;
            border-bottom: 1px solid rgba(255,255,255,0.1);

            .left-wrap {
                display: flex;
                align-items: center;

                .menu-btn {
                    margin-right: 42px;
                }
            }
        }

        .menu-sp {
            padding: 14.06vw 10.67vw 8.72vw;

            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1.3vw;

                li {
                    border-radius: 1.04vw;
                    padding: 11.46vw 0 2.86vw;

                    img {
                        height: 18vw;
                        transform: translate(-50%,-36%);//
                    }

                    p {
                        margin-bottom: 2.21vw;
                    }

                    a {
                        svg {
                            margin-left: 0.5vw;
                        }
                    }
                }
            }
        }

        .cart-modal {
            width: 49.09vw;
            left: auto;
            right: 5.21vw;
            transform: translateX(0);
            border-radius: 1.04vw;
            padding: 4.17vw;

            .cart-top {
                margin-bottom: 4.17vw;
            }

            .cart-items {
                margin-bottom: 4.17vw;

                .cart-item {
                    gap: 2.67vw;
                    margin-bottom: 3.13vw;

                    .cart-item-left {
                        img {
                            border-radius: 1.04vw;
                            width: 8.33vw;
                            margin-right: 2.08vw;
                        }
                    }

                    .qty {
                        width: 12.5vw;
                        height: 4.17vw;

                        .qty-btn {
                            width: 7.13vw;
                        }
                    }
                }
            }

            .amount {
                margin-bottom: 3.13vw;

                .right {
                    span {
                        margin-left: 0.5vw;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1440px) {
    header {
        height: 95px;

        .header-inner {
            width: 77.08vw;
            padding: 0;
            margin: 0 auto;

            .left-wrap {
                .menu-btn {
                    display: none;
                }
            }

            .menu-pc {
                display: block;

                ul {
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 34px;

                    li a {
                        color: #fff;
                        font-size: var(--fs-13px);
                        letter-spacing: 0.152em;
                    }
                }
            }
        }

        .menu-sp {
            display: none;
        }

        .cart-modal {
            width: 377px;
            right: 11.46vw;
            border-radius: 8px;
            padding: 32px;
            top: 130px;

            .cart-top {
                margin-bottom: 32px;
            }

            .cart-items {
                margin-bottom: 32px;

                .cart-item {
                    gap: 15px;
                    margin-bottom: 24px;

                    .cart-item-left {
                        img {
                            border-radius: 8px;
                            width: 64px;
                            margin-right: 16px;
                        }
                    }

                    .qty {
                        width: 96px;
                        height: 32px;

                        .qty-btn {
                            width: 70px;
                        }
                    }
                }
            }

            .amount {
                margin-bottom: 24px;

                .right {
                    span {
                        margin-left: 5px;
                    }
                }
            }
        }

        .modal-overlay {
            top: 98px;
        }
    }
}